* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    height: 60px;
}

.search-bar input {
    background-color: #333;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    width: 500px;
}

.cart img {
    height: 40px;
    cursor: pointer;
}

/* Menú de botones */
.menu {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
}

.menu button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px; /* Espacio entre los botones */
    cursor: pointer;
}

.menu button:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

/* Sección de productos */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre productos */
    justify-content: space-around;
}

/* Ajuste general de la tarjeta del producto */
.product-card {
    display: flex;
    background-color: rgb(233, 234, 221);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Contenedor de la imagen y precio */
.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-image p {
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}

/* Contenedor de la información del producto */
.product-info {
    flex: 2;
    padding-left: 20px;
}

.product-info h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 14px;
    color: #666;
    text-align: left;
}
